  @import url(http://fonts.googleapis.com/css?family=Exo);
  body {
      font-family: 'Exo', Arial, sans-serif;
      font-size: 14px;
  }

  strong {
    font-size: 110%;
  }
  
  /*******layout********/
  .wrapper{
    width: 960px;
    margin: auto;
  }

  /*nav*/
  nav li{
    list-style: none;
    display: inline-block;
    padding: 0px 10px 10px 10px;
  }

  nav{
    margin-left: -10px;
  }

  nav a {
    font-size: 120%;
    text-decoration: none;
  }

  h3{
    padding-top: 20px;
  }

  
  h1,
  h2 {
      font-family: 'Exo', Arial, sans-serif;
  }

  h1{
    font-size: 200%;
  }

  h2{
    font-size: 150%;
  }

  h3{
    font-size: 120%;
  }
  
  .axis path,
  .axis line {
      fill: none;
      stroke: #b6b6b6;
      shape-rendering: crispEdges;
  }
  /*.tick line{fill:none;stroke:none;}*/
  
  .tick text {
      fill: #999;
  }
  
  g.journal.active {
      cursor: pointer;
  }
  
  text.label {
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
  }
  
  text.value {
      font-size: 12px;
      font-weight: bold;
  }

  div.tooltip {   
  position: absolute;           
  text-align: center;            
  padding: 5px 3px;             
  font: 12px sans-serif;        
  background: #333;  
  color: white; 
  border: 0px;      
  border-radius: 8px;    
  min-height: 50px;      
}
